@import url('https://fonts.googleapis.com/css?family=Gayathri|Merriweather|Montserrat|Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Exo|PT+Sans+Narrow|Righteous&display=swap');
html
{
    scroll-behavior: smooth;
}


body
{
  /* FONT FAMILIES IN USE
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Exo', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Gayathri', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Squada One', cursive;
   */
  margin : 0;
  background-color: rgba(192,192,192,0.2);
  line-height: 1;
}

h1
{
  font-size: 400%;
  line-height: 1;
  font-family: 'Gayathri', sans-serif;
}

h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-weight: 600;
}

h3
{
  line-height: 1;
  font-size: 200%;
  font-family: 'PT Sans Narrow', sans-serif;
}

.infoimg
{
  position: relative;
  top: -10px;
  float: left;
  display: flex;
  left: 10%;
  width: 35%;
  height: auto;
}

.infoimgrec
{
  position: relative;
  top: -20;
  left: 17%;
  float: left;
  display: flex;
  width: 13%;
  height: auto;
}

.infoimghistory
{
  position: relative;
  top: -50px;
  left: 17%;
  float: left;
  display: flex;
  width: 15%;
  height: auto;
}

.spotlight-vid
{
object-fit: cover;
  /* width="1220" height="640" */
}

.linkers
{
  position: absolute;
  top: 70%;
  left: 29%;
}

.linkers-1
{
  text-decoration: none;
  padding: 10px 30px;
  color: RED;

  font-size: 100%;

}

.mag
{
font-size: 22px;
}

.infoblock
{
  background-color: rgba(192,192,192,0.5);
  padding : 1%;
}

.container
{

  height: 140px;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

.logoclass
{
  border-radius: 30%;
  transform: rotate(-15deg);
  top: 15px;
  width: 150px;
  height: 150px;
  left: 20px;
  position: absolute;
}

.searchbar
{
  top: 30px;
  left: 450px;
  position: absolute;
  width: 50%;
}

.searchb
{
  border-style: solid;
  border-color: rgba(255, 0, 0, 0.4);
  padding : 10px;
  width: 80%;
}

.utility-icons
{
  width: 60%;
  padding-left: 5px;
  position: absolute;
  top: 24px;
  text-align: right;
  right: 20px;
}

.utility-icons-1
{
  padding-left: 5px;
  height: 20px;
  width: 20px;
  padding : 0 10px;
}

.spotlight-video
{
text-align: center;
}

.spot_video
{
  width: 100%;
  height: 100%;
}
.thumbnailx
{
  width: 100%;
  height: 150px;
}

.thumbnailmostwatched
{
  width: 100%;
  height: 350px;
}


.linktext
{
  display: inline;
  font-family: 'PT Sans Narrow', sans-serif;
      font-size: 15px;
}

.mostwatchedrec
{
  display: inline-block;
  padding : 2%;
  width: 40%;
  background-color: white;
}


.Recommendations
{
  display: inline-block;
  padding : 2%;
  width: 20%;
  background-color: white;
}

.Title , .maker , .stats
{
text-align: left;
}

.maker , .stats
{
  font-size: 10px;
}

.thumbnailxx
{
  width: 30%;
  height: auto;
}

.historyline
{
  padding: 10px;
  background-color: white;
}

.HistoryShot , .HistoryText
{
  display: inline-block;
}

.HistoryText
{
  padding-left: 23px;
}

.HistoryThumb
{
  height: 200px;
  width: 400px;
}

@media only screen and (max-width:1320px)
{
  .searchb
  {
    width: 70%;

  }
}

@media only screen and (max-width:1250px)
{
  .searchb
  {
    width: 65%;
  }
}

@media only screen and (max-width:1250px)
{
  .searchb
  {
    width: 60%;
  }
}

@media only screen and (max-width:1157px)
{
  .searchbar
  {
    max-width: 50%;
    left: 450px;
  }
}


@media only screen and (max-width:1126px) {

.searchbar
{
  max-width: 40%;
}



}

@media only screen and (max-width:1020px)
{
  .searchbar
  {
    left: 250px;
  }
}

@media only screen and (max-width:950px)
{
.linkers-1
{
font-size: 70%;
}
}

@media only screen and (max-width:850px) {

.searchbar
{
  left: 250px;
}


}

@media only screen and (max-width:886px)
{
  .linktext
  {
    display: none;
  }
  .logoclass
  {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width:816px)
{
.linkers
{
  left: 30%;
}

.linkers-1
{
  padding : 0 7px;
}

}

@media only screen and (max-width:745px)
{
  .linkers
  {
    left: 25%;
  }
  .searchbar
  {
    left: 180px;
    padding-right: 4px;
  }
  .mag
  {
    font-size: 13px;
  }
}

@media only screen and (max-width:400px)
{
  h1
  {
    font-size: 100%;
  line-height: 0.5;
  }

  h2
  {
    font-size: 20%;
  line-height: 0.5;
  }

  h3
  {
    line-height: 0.5;
    font-size: 50%;
  }


.infoblock , .spotlight-video{
  width: 50% !important;
  margin: auto;
}
}
