@import url('https://fonts.googleapis.com/css?family=Gayathri|Merriweather|Montserrat|Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Exo|PT+Sans+Narrow|Righteous&display=swap');
html
{
    scroll-behavior: smooth;
}

body.loginp
{
  margin : 0;
}

a
{
  text-decoration: none;
  color: black;
}

label
{  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 320%;
  color: white;
}

input.labelclass
{  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 220%;
}

.sendmessage {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 72px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.sendmessage:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.sendmessage:active {
	position:relative;
	top:1px;
}



.contactform
{
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  margin: auto;
  width: 80%;
  font-size: 12px;
  color: black;
}
.contactuscontainer{
  width: 60%;
  margin: auto;
  background-position: center;
  background-image: url("contactus.png");
  background-repeat: no-repeat;
  border-radius: 20%;
  height: 850px;
}



.loginbutton {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
	background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
	background-color:#bddbfa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:15px 76px;
	text-decoration:none;
	text-shadow:0px 4px 0px #528ecc;
}
.loginbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
	background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
	background-color:#80b5ea;
}
.loginbutton:active {
	position:relative;
	top:1px;
}

.contactform input
{
  padding: 2% 2%;
}

.loginpage
{
  top: 0;
  width: 100%;
  height: 80%;
  padding : 2% 0;
  background-image: url("loginimage.png");
  background-size: cover;
}

body.main
{
  /* FONT FAMILIES IN USE
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Exo', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Cinzel', serif;
  font-family: 'Gayathri', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Squada One', cursive;
   */
  margin : 0;
  background-color: rgba(192,192,192,0.1);
  /*  */
  line-height: 1;
}

button.watchsmall
{
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0 10px;
  padding: 5px 38px;
  border-radius: 6px;
  transition: all .1s linear;
  cursor: pointer;
  background-color: rgba(207, 0, 15, 1);
  color: white;
  font-size: 120%;
  font-weight: 600;
}

button.watchsmall:hover
{
background-color: rgba(150, 40, 27, 1);
}

button.watchmain:hover {
  background: orange;
  color: black;
}

button.watchmain {
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0 10px;
  padding: 10px 48px;
  border-radius: 6px;
  transition: all .1s linear;
  cursor: pointer;
  background-color: rgba(125, 181, 254, 0.3);
  color: white;
  font-size: 150%;
  font-weight: 600;
}


h1
{
  font-size: 400%;
  line-height: 1;
  font-family: 'Gayathri', sans-serif;
}

h2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-weight: 600;
}

h3
{
  line-height: 1;
  font-size: 200%;
  font-family: 'PT Sans Narrow', sans-serif;
}

.firstpart
{

}

.infoimg
{
  position: relative;
  float: left;
  display: flex;
  left: 10%;
  width: 28%;
  height: auto;
}

.infoimgrec
{
  position: relative;
  top: -20;
  left: 17%;
  float: left;
  display: flex;
  width: 13%;
  height: auto;
}

.infoimghistory
{
  position: relative;
  top: -50px;
  left: 17%;
  float: left;
  display: flex;
  width: 15%;
  height: auto;
}

video {
  width: 70%;
  height: auto;
  z-index: -2;
}
.linkers
{
  position: absolute;
  top: 70%;
  left: 29%;
}

.linkers-1
{
  text-decoration: none;
  padding: 10px 30px;
  color: RED;

  font-size: 100%;

}

.mag
{
font-size: 22px;
}

.infoblocklogin
{
  background-color: white !important;
  height: 100%;
  width: 100%;
}

.infoblock1
{
    background-image: url("pickbg1.png");
}

.infoblock2
{
    background-image: url("recommendbg.png");
}

.infoblock3
{
    background-image: url("historybg.png");
}

.infoblock4
{
    background-image: url("mostwatchedbg.png");
}

.infoblock1 , .infoblock2 , .infoblock3 , .infoblock4
{
  color: white;
  background-color: rgba(192,192,192,0.5);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -1;
  padding: 17% 0;
  height: 100%;
  margin: auto;
}

.container
{

  height: 140px;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.logoclass
{
  border-radius: 30%;
  transform: rotate(-15deg);
  top: 15px;
  width: 150px;
  height: 150px;
  left: 20px;
  position: absolute;
}

.searchbar
{
  top: 30px;
  left: 450px;
  position: absolute;
  width: 50%;
}

.searchb
{
  border-style: solid;
  border-color: rgba(255, 0, 0, 0.4);
  padding : 10px;
  width: 80%;
}

.utility-icons
{
  width: 60%;
  padding-left: 5px;
  position: absolute;
  top: 24px;
  text-align: right;
  right: 20px;
}

.utility-icons-1
{
  padding-left: 5px;
  height: 20px;
  width: 20px;
  padding : 0 10px;
}

.twolinesofrec
{
  background-color : rgba(236, 100, 75, 0.1);
  padding: 2% 0;
}

.histobut
{
  position: relative;
  left: 75%;
}

.spotlight-video
{
text-align: center;
background-color: rgba(219, 210, 91, 0.1);
width: 100%;
padding: 3px 0;
}

.spot_video
{
  width: 80%;
  height: 80%;
}
.thumbnailx
{
  width: 100%;
  height: 150px;
}

.thumbnailmostwatched
{
  width: 100%;
  height: 350px;
}


.linktext
{
  display: inline;
  font-family: 'PT Sans Narrow', sans-serif;
      font-size: 15px;
}

.historycontainer
{
  background-color: rgba(219, 10, 91, 0.1);
  width: 70%;
  margin: auto;
  padding: 2% 0;
}

.mostwatchedrec
{
  display: inline-block;
  padding : 2%;
  width: 40%;
  background-color: white;
}


.Recommendations
{
  display: inline-block;
  padding : 2%;
height: auto;
  width: 20%;
  background-color: white;
}

.Title , .maker , .stats
{
text-align: left;
}

.maker , .stats
{
  font-size: 10px;
}

.thumbnailxx
{
  width: 30%;
  height: auto;
}

.historyline
{
  padding: 10px;
  background-color: white;
}

.HistoryShot , .HistoryText
{
  display: inline-block;
}

.HistoryText
{
  padding-left: 23px;
}

.HistoryThumb
{
  height: 200px;
  width: 400px;
}

@media only screen and (max-width:1320px)
{
  .searchb
  {
    width: 70%;

  }
}

@media only screen and (max-width:1250px)
{
  .searchb
  {
    width: 65%;
  }
}

@media only screen and (max-width:1250px)
{
  .searchb
  {
    width: 60%;
  }
}

@media only screen and (max-width:1157px)
{
  .searchbar
  {
    max-width: 50%;
    left: 450px;
  }
}


@media only screen and (max-width:1126px) {

.searchbar
{
  max-width: 40%;
}



}

@media only screen and (max-width:1020px)
{
  .searchbar
  {
    left: 250px;
  }
}

@media only screen and (max-width:950px)
{
.linkers-1
{
font-size: 70%;
}
}

@media only screen and (max-width:850px) {

.searchbar
{
  left: 250px;
}

.loginpage
{
  width: 50%;
  display: grid;
}

.labelclass
{
  width: 70% !important;
  font-size: 120% !important;
}

}

@media only screen and (max-width:886px)
{
  .linktext
  {
    display: none;
  }
  .logoclass
  {
    width: 100px;
    height: 100px;
  }
    .loginbutton
    {
      width: 60%;
      border-radius: 10%;
      font-size: 70% !important;
    }
}

@media only screen and (max-width:866px)
{

  .contactform label
  {
    font-size: 150%;
  }

.linkers
{
  left: 30%;
}

.linkers-1
{
  padding : 0 7px;
}

}

@media only screen and (max-width:745px)
{

  .contactform input
  {
    padding: 1% 1%;
    width: 70%;
  }

  .contactuscontainer{
    height: 500px;
  }

  .linkers
  {
    left: 25%;
  }
  .searchbar
  {
    left: 180px;
    padding-right: 4px;
  }
  .mag
  {
    font-size: 13px;
  }
  .labelclass
  {
    width: 50% !important;
    font-size: 80% !important;
  }

}
@media only screen
  and (min-device-width: 250px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)

  {

button.watchmain
{
  display: none !important;
}

/* @media only screen and (max-width:400px)
{ */

h1
{
  font-size: 600%;

}

h2
{

  font-size: 200%;
  font-weight: 600;
}

h3
{

  font-size: 400%;

}

.linkers-1
{
  display: none !important;
}

.searchb
{
  width: 70% !important;
}

.infoblock , .spotlight-video{
  width: 100% !important;
  margin: auto;
}

.Recommendations
{

  padding: 5% 2%;
  width: 50%;
  display: grid !important;
}

button.watchsmall
{
  font-size: 220% !important;
}


}
